.subtitulo {
  color: #F8F9FA;
  background-color: rgb(35, 45, 50);
  text-align: center;
}

.inputColor {
  margin-top: 35px;
}

.app-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 75vh;
}

.button-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: auto;
  margin-bottom: auto;
}

html,
body,
#root {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  
  background-color: rgb(35, 45, 50);
}